.banner1 {
  background: url(../assets/images/banner.png) no-repeat center / cover;
  width: 100%;
}
.banner2 {
  background: url(../assets/images/cover.jpg) no-repeat center / cover;
  width: 100%;
  height: 18.75rem;
}
